
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.projectInfo img {
    border-radius: 50%;
}

.projectInfo {
    position: relative;
}

.projectInfo #name {
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins;

}
.projectInfo #visibility {
    color: green;
}
