@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

.header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: -1;
    height: 65px;
}
.header img {
    width: 45px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 40px;
    border: 3px solid #4FD274;
}
.header #text {
    position: absolute;
    top: 20px;
    right: 100px;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.header #description {
    font-size: 12px;
    position: absolute;
    left: 0px;
    top: 15;
    color: #737373;
}
