.navItem {
    padding: 15px;
    font-size: 18px;
    color: white;
    margin: 0px 0px;
    cursor: pointer;
}
.navItem img {
    margin-right: 5px;
}

.navItem:hover {
    background-color: #1d252c;
}
.selected {
    background-color: #4FD274;
}

.navItem a {
    color: inherit;
    text-decoration: none;
}
