
#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #252F38;
    width: 230px;
    height: 100%;
}
#sidenavtitle {
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 70px;
}
#navButton {
    background-color: #FC7E00;
    display: block;
    position: relative;
    margin: 15px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#navButton:hover {
    background-color: #e87400;
}
#NavSearchBar {
    display: block;
    width: 83%;
    padding: 8px;
    height: 30px;
    margin: 10px 20px;
    color: #737373;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    border: none;
}
