@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.searchList {
 width: 70%;
 padding: 30px;
 margin: 0 10%;
}
.search {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

.searchList ul {
 list-style-type: none;
 overflow-y: auto;
 padding: 10px;
 height: 400px;
}
.searchList ul li {
 overflow: hidden;
 margin: 0 0 20px;
 border-bottom: 1px solid #ccc;
 padding: 0 0 20px;
 cursor: pointer;
}

.searchList ul li:hover{
    background-color: #ccdcff;
}

.searchList ul li:last-child {
 margin: 0;
}
.searchList img {
 float: left;
 display: block;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 margin: 0 10px 0 0;
}
.searchList span {
 display: block;
 width: 100%;
 font-weight: bolder;
 text-transform: capitalize;
 font-family: 'Poppins', sans-serif;
}
.searchList span.id {
 font-weight: normal;
 font-style: italic;
 color: #0085FF;
}
