

.title {
    float: left;
    display: inline-block;
    width: 20%;
    padding: 6px;
    text-align: center;
    margin: 1px;
    background-color: #252F38;
    color: #f0f0f0;
    cursor: pointer;
    text-transform: capitalize;
}

.active {
    background-color: #f0f0f0;
    color: #252F38;
}
