
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.devProfile {
    position: relative;
}

.devProfile img {
    border-radius: 50%;
    border: 4px solid #4FD274;
}

.devProfile .info {
    position: absolute;
    top: 20px;
    left: 80px;
    display: block;
    margin: 10px;
}

.devProfile span {
    display: block;
    margin-left: 20px;
    font-family: Poppins;
}


.devProfile #name {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

.devProfile #email {
    color: #FC7E00;
}




.commitsCount{
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: -40px;
    right: 150px;
    font-family: Poppins;
}

.commitsCount p {
    font-size: 40px;
}

.commitsCount span {
    position: relative;
    top: -50px;
    right: 8px;
    text-transform: capitalize;
}
