.card {
    position: relative;
    margin: 20px;
    float: left;
    width: 26%;
    padding: 10px;
    background-color: #252F38;
    height: 60%;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
}
.cardTitle {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.cardSubTitle {
    position: relative;
    left: 10px;
    bottom: 6px;
    font-size: 10px;
    color: green;
    font-family: 'Poppins', sans-serif;
}
.cardDescription {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13px;
}
.cardTeam {
    color: white;
    margin-top: 15px;
}
.cardButton {
    text-align: center;
    background-color: #FC7E00;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 94%;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.cardTools {
    position: absolute;
    bottom: 60px;
    cursor: pointer;
    right: 50%;
}
