
.infoCard {
    float: left;
    width: 20%;
    height: 100px;
    border-radius: 4%;
    margin: 0 1%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.infoCard span {
    display: block;
    margin: 1px;
    text-transform: capitalize;
}
